/******** GENERAL ********/
html{
	font-size: 62.5%; 
	/*In questo modo si ha 1rem= 10px*/
}
body{
	font-family: 'Overpass Mono', monospace;
	font-size: 1.6rem;
}
a{
	text-decoration: none;
	font-size: 1.5rem;
	color: black;
}
*{
	box-sizing: border-box;
}
.active{
	background-color: #404108;
	border-radius: 3px;
}
h1{
	font-size: 1.8rem;
}
img{
	width: 100%;
}
/******** HEADER ********/
header{
	background-color:#000000;
	width: 100%;
	z-index: 1;
}
header .logo-container{
	padding-top: 30px;
	padding-left: 10px; 
}
header img{
	width: 160px;
}
/******** MENU NAVIGAZIONE ********/
nav ul {
	padding: 5px; 
	margin: 0;
	list-style-type: none; 
	text-align: center;
}
nav li{
	padding:10px 10px 0 10px;
	display: inline-block;
	text-align: center;
}
nav li a:hover{
	background-color: #404108;
	border-radius: 3px;
}
nav li a{
	color: #FFC000;
	display: inline-block;
	padding: 10px 10px;
	text-decoration: none;
	text-transform: uppercase;
	transition: background .5s;
}
/******** GALLERY  ********/
#gallery{
	display: flex;
	flex-wrap: wrap;
	padding: 15px;
}
.picture{
	padding:30px; 
}
#gallery img{
	width: 190px;
	height: 190px;
}
#gallery .picture{
	line-height: 0;
}
#gallery .items{
	/*float: left;
	width: 50%;
	padding: 15px;*/
	text-align: center;
	transition: opacity .5s;
	position: relative;
}
#gallery .items:hover{
	opacity: .7;
}
.caption:hover{
	color: #FFC000;
}
#gallery .caption img{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
}
/******** ABOUT ********/
#about img{
	border-radius: 100%;
	padding: 25px;
}

/******** INFO & CONTACTS ********/
#contatti .material-icons{
	float: left;
}
#contatti li a{
	margin-top: 3px;
	display: inline-block;
}
/******** FOOTER ********/
footer.main{
	text-align: center;
	padding: 15px; 
}
footer.main p{
	font-size: 1.2rem;
}
footer.main a{
	display: inline-block;
	padding: 5px 10px;
}
.clearfix::after{
	content: "";
	clear: both;
	display: table;
}
#social img{
	width: 40px;
	border-radius: 8px;
}
/******** MEDIA QUERIES ********/
@media only screen and (min-width: 766px){	
header{
position: fixed;
top: 0;
}
main{
	padding-top: 252px;
}
/******** GALLERY  ********/
header{
	display: flex;
	justify-content: space-around; 
	align-items: center;
}
/******** GALLERY  ********/
#gallery .items{
	flex: 0 1 33.3333%;
}
/*#gallery .items{
	float: left;
	width: 33.3333%;
	}
	#gallery .items:nth-child(3n+1){
		clear: left;
	}*/
/******** FOOTER ********/
	#about h1{
		text-align: center;
		font-size: 1.8rem; 
	}
	#about img{
		width: 95%;
	}
	#about .profile-pic{
		width: 50%;
		float: left;
		padding: 25px;
		text-align: center;
	}
	#about .description{
		width: 50%;
		float: right;
		padding: 25px;
	}
	/******** INFO & CONTACTS ********/
	#info, #contatti{
		padding: 25px;
	}
	#info{
		width: 70%;
		float: left;
	}
	#contatti{
		width: 30%;
		float: right;	
	}
	#infoecontatti h1{
		font-size: 1.2rem;
	}
	#infoecontatti ul{
		list-style-type: none;
		padding-left: 0;
	}
	#infoecontatti li{
		padding: 5px 5px;
	}
}

@media only screen and (max-width: 767px){
/******** GALLERY  ********/
header .logo-container{
	text-align: center;
}
#gallery .items{
	flex: 0 1 50%;
}
/******** GALLERY ********/
/*#gallery .items:nth-child(2n+1){
	clear: left;
}*/
/******** INFO & CONTACTS ********/
	#info{
		padding: 25px;
	}
	#contatti{
		padding: 0 25px;
	}
	#infoecontatti ul{
	list-style-type: none;
	padding-left: 0;
	}
/******** GALLERY ********/
	.description {
		padding: 25px;
	}
	.profile-pic {
		padding: 25px 25px 5px 25px;
}

@media only screen and (min-width: 190px){
	*{
	box-sizing: content-box;
	}
}


